POC_BBOX="751256 6331451 751456 6331651"
EXPECTED_WIDTH_M=200
EXPECTED_HEIGHT_M=200
HTTP_USER_AGENT="OpenDataVdA-POC/2.0"
TERRAIN_RESOLUTION_M=1
TERRAIN_MARGIN_M=15
ORTHO_SIZE_PX=2048
BUILDING_SKIRT_M=2
ORTHO_LAYER="ORTHOIMAGERY.ORTHOPHOTOS"
ORTHO_WMS_URL="https://data.geopf.fr/wms-r/wms"
OUTPUT_DIR="./output-200m"
